<app-search (keywordEmmiter)=callRequest($event)></app-search>
<p class="no-img" *ngIf="!this.arrayOfPhotos">No images here. Please send request</p>
<pagination-controls *ngIf="this.arrayOfPhotos" [autoHide]='true' [maxSize]="7" (pageChange)="page = $event"></pagination-controls>
<div class="cards-wrap">
    <div class="card" *ngFor="let item of arrayOfPhotos" >
        <app-card [item]=item></app-card>
    </div>
</div>

<!-- | paginate: { currentPage: page, itemsPerPage: 10, totalItems: totalLengthArray}; -->
