<header class="header">
  <h1>Image Finder</h1>
    <mat-icon>account_circle</mat-icon> 
</header>

<div class="container">
  <mat-drawer-container class="container-sidenav" autosize>
    <mat-drawer #drawer class="container=sidenav-content" mode="side" [disableClose]="false" [opened]="true">
      <div class="menu-link-container" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon> 
        <a routerLink="/dashboard" >Dashboard</a>  
      </div>
      <div class="menu-link-container" routerLinkActive="active-link">
        <mat-icon>perm_media</mat-icon> 
        <a routerLink="/bookmarks" >Storage</a>  
      </div>
      <app-menu></app-menu>
    </mat-drawer>
   
    <div class="example-sidenav-content">
      
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
</div>

<footer>
  <span>Copyrights</span>
</footer>


