a {
  text-decoration: none;
  outline: none;
  color: #000
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #673ab7;
  color: white;
  
  
    h1 {
      margin: 10px;
      text-align: center;
    } 

    .mat-icon {
      margin: 10px;
    }
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    background-color: #fff;
    box-sizing: border-box;
    border-top: 4px solid #9361eb;


    .sidenav-container {
        display: flex;
        width: 100%;
  
        &__menu {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding-top: 60px;
          width: 220px;
          border-right: 1px solid #eee;
        }
      }
  
      .mat-drawer-container {
        width: 100vw;
        margin: 5px auto;
      }

      .menu-link-container {
        display: flex;
        align-content: center;
        padding: 20px;
        
        mat-icon {
          padding-right: 10px;
        }
      }
}

.active-link {
  background-color: #673ab7;
  color: #fff !important;
  transition: .3s linear;
  a{
   color: #fff !important;
   
  }
  
  
}