.bookmarks-cards {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;

    .mat-card {
        margin: 10px;
        justify-content: space-between;
        border: 1px solid grey;
        max-height: 300px;
        
        text-overflow: hidden;
        overflow: hidden;
    }
}

@media (max-width: 500px) {
    .mat-card {
        width: 60vw;

        img {
            width: 100% !important;
        }
     }
}
     
